.show{
    height:1120px;
    background-color: rgb(248, 248, 245);
    margin-bottom: 0;
}

.wht{
    padding-top: 80px;
    margin-bottom: 14;
    font-size: 40px;
    line-height: 1.35em;
    font-family: Playfair Display;
    font-weight: 90;
    text-align: center;
}

.made{
    text-align: center;
    font-size: 20px;
    font-family: Dancing Script;
    margin-bottom: 28px;
    
}

.start{
    text-align: center;
    font-size: 31px;
    margin-bottom: 22px;
    font-family: Noto Serif SC;
  font-weight: 550;

}

.yongxin{
    text-align: center;
    font-size: 31px;
    margin-bottom: 22px;
    font-family:Noto Serif SC;
    font-weight: 550;
}

.yes{
    text-align: center;
    font-size: 31px;
    margin-bottom: 22px;
    font-family: Noto Serif SC;
    font-weight: 550;

}

.dest{
    text-align: center;
    font-size: 31px;
    margin-bottom: 80px;
    font-family: Noto Serif SC;
    font-weight: 580;
}

.picture2{
    width: 100%;
    height: 575px;
}

.text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: Noto Serif sc;
    font-weight: 580;

}

.gri{
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
}

.who{
    margin-bottom: 80px;;
}