

.thumbnail{
    /* width:300px; 强制图片大小,一般不这么用 */
    width:80%;
    border-radius: 20px;
    cursor:pointer; 
    transition:box-shadow 0.2s;
    /* 显示方式，决定占不占一行空间 */
}
.thumbnail:hover{
    box-shadow:20px 20px 20px rgba(0,0,0,0.19) ;

}


.thumbnail0{
    margin-top: 20px;
    height: 450px;
    /* width:300px; 强制图片大小,一般不这么用 */
    width:80%;
    border-radius: 10px;
    cursor:pointer; 
    /* 显示方式，决定占不占一行空间 */
}

.thumbnail1{
    margin-top: 20px;
    height: 480px;
    /* width:300px; 强制图片大小,一般不这么用 */
    width:80%;
    border-radius: 10px;
    cursor:pointer; 
    /* 显示方式，决定占不占一行空间 */
}


.thumbnail2{
    margin-top: 20px;
    height: 480px;
    /* width:300px; 强制图片大小,一般不这么用 */
    width:80%;
    border-radius: 10px;
    cursor:pointer; 
    /* 显示方式，决定占不占一行空间 */
}

.popup{
    width:980px;
    height: 640px;
    background:#fff ;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333 ;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}

.open-popup{
    visibility: visible;
    position:fixed; 
    top: calc(50% - 25px); 
    left: calc(50% - 50px); 
    transform: translate(-50%,-50%) scale(1);
    box-shadow: 0 0 0 9999px #000000b0;
    padding-left:0%;
    padding-right:0% ;
}



.open-popup1{
    visibility: visible;
    position:fixed; 
    top: calc(50% - 25px); 
    left: calc(50% - 50px); 
    transform: translate(-50%,-50%) scale(1);
    box-shadow: 0 0 0 9999px #000000b0;
    padding-left:0%;
    padding-right:0% ;
}

.open-popup2{
    visibility: visible;
    position:fixed; 
    top: calc(50% - 25px); 
    left: calc(50% - 50px); 
    transform: translate(-50%,-50%) scale(1);
    box-shadow: 0 0 0 9999px #000000b0;
    padding-left:0%;
    padding-right:0% ;
}

.open-popup3{
    visibility: visible;
    position:fixed; 
    top: calc(50% - 25px); 
    left: calc(50% - 50px); 
    transform: translate(-50%,-50%) scale(1);
    box-shadow: 0 0 0 9999px #000000b0;
    padding-left:0%;
    padding-right:0% ;
}

.video-title{
    width:100%;
    margin-top: 0;
    font-size: 16px;
    font-weight:500 ;
    line-height: 20px;
    margin-bottom: 11px;
}



.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.video-info{
    display: inline-block;
    width:100%;
}

.profile-picture{
    width:40px;
    border-radius:50px ;

}

.thumbnail-row{
    margin-bottom:12px;
}

.video-author{
    font-size:13px ;
    color:rgb(96,96,96);
    /* 字体大小、颜色 */
    margin-bottom: 4px;
}

.video-stats{
    font-size: 12px;
    color:rgb(96,96,96);

}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 14px;
    margin-bottom: 45px;
    margin-left: 100px;
    margin-right: 90px;
   min-width: 800px;
}

.blocker{
    text-align:right;
}